{{block "head" .}} {{end}}

<body class="bg-dark">
  <div class="container">
    <h1 class="display-1 text-center text-primary">🤓 about me</h1>
    <br />

    <div class="container text-light">
      <div class="row align-items-center">
        <div class="col-md-4 text-center p-4">
          <img
            class="img-fluid rounded-5"
            src="https://warrenb95-blog.s3.eu-west-2.amazonaws.com/blogs/images/headshot.jpg"
            alt="me"
          />
        </div>
        <div class="col-md-8 p-4 rounded-5">
          <ul>
            <li class="lead">
              Hi I'm Warren! I'm a backend software engineer based in the south
              east of England.
            </li>
            <li class="lead">
              I graduated the University of Brighton in 2022 and have been
              working since then as a backend developer in golang. I work on
              microservices deployed to kubernetes and containterized with
              docker.
            </li>
            <li class="lead">
              The purpose of this website is to be a dumping ground for things
              that I've learnt, things that I'm currently learning about and
              anything that I'm struggling with as a backend engineer.
            </li>
            <li class="lead">
              I'm planning to update the website monthly and will add a log of
              the updates made so you can follow along 😄 Thanks for stopping by
              and I hope you enjoy!
            </li>
            <li class="lead">
              I lied it's been over 10 months and I've not touched the blog
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>

{{block "foot" .}} {{end}}
