{{block "head" .}}
{{end}}

<div class="container text-center">
  <h1 class="display-1 mb-4"><strong>warrenb95</strong></h1>
  <div class="row">
    <div class="col-md-12 p-4 my-4 rounded-4">
      <h1 class="display-5">What's happening</h1>
      <p>
        This is the start of my personal website and blog! I'm planning on
        updating this website monthly 🤞.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      {{range .}}
      <div class="card text-white border-primary mb-3 rounded-4">
        <div class="row g-0">
          <div class="col-md-4">
            <img src={{.ThumbnailPath}} class="img-fluid rounded" alt="blog image" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{.Title}}</h5>
              <p class="card-text">{{.Summary}}</p>
              <p class="card-text">
                <small class="text-muted">
                  Uploaded {{.Uploaded}}
                </small>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="d-grid gap-2">
            <a href="/blog/{{.Title}}" class="btn btn-primary btn-lg m-2">View blog</a>
          </div>
        </div>
      </div>
      {{end}}
    </div>
    <div class="col-md-4">
      <div class="position-sticky">
        <div class="p-2 rounded-4">
          <h4>log</h4>
          <ul class="list-unstyled">
            <li>
              <small>2023-11-03</small>
              Well updating monthly was a lie...
              Rewrote the blog with htmx and go html templating
            </li>
            <li>
              <small>2023-01-05</small>
              Watch this space 😄
            </li>
            <li>
              <small>2023-01-18</small>
              Added the about page
            </li>
            <li>
              <small>2023-01-30</small>
              Blog cards and blog pages
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{{block "foot" .}}
{{end}}
